.project-cards {

    & > .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--two-spacing);
        color: var(--text-light);

        .project-card {
            background-color: var(--bg-slategray);
            border-top: solid 5px var(--bg-primary);
            padding: var(--default-spacing) var(--two-spacing);
            display: flex;
            flex-direction: column;

            &__title {
                font-family: var(--font-title);
                font-size: var(--text-size-md);
                font-weight: bold;
                color: var(--text-primary);
            }

            &__description {
                margin-top: 0;
                color: var(--text-light);
                font-size: var(--text-size-sm);
                line-height: 1.5;
                flex: 1;
            }

            &__status {
                color: var(--text-lightgray);
                font-size: var(--text-size-sm);
            }
        }
    }
}