<section class="project-cards">
    <div class="container">
        <article class="project-card">
            {# <i class="fa-solid fa-code"></i> #}
            <h3 class="project-card__title">WebApp Development</h3>
            <p class="project-card__description">
                Familiarize with full-stack web application development by learning
                front-end client and back-end service application development.
            </p>
            <span class="project-card__status">
                <span>In-Progress</span>
            </span>
        </article>
        <article class="project-card">
            <header>
                <h3 class="project-card__title">DevOps Practices</h3>
            </header>
            <p class="project-card__description">
                Start implementing build, test, deployment with automations and
                known practices between development and operations.
            </p>
            <footer class="project-card__footer">
                <label class="project-card__status-text">In-Progress</label>
                <button type="button" class="project-card__status-text">View</button>
            </footer>
        </article>
        <article class="project-card">
            {# <i class="fa-solid fa-cloud"></i> #}
            <h3 class="project-card__title">Cloud Infrastructure</h3>
            <p class="project-card__description">
                Explore and familiarize with cloud services by learning to orchestrate Infrastructure
                suited for your needs.
            </p>
            <span class="project-card__status">
                <span>In-Progress</span>
            </span>
        </article>
    </div>
</section>